@import "mixins/mixins";
@import "common/var";

@include b(note-action) {
  position:relative;
  @include e(straight-line) {
    border-bottom:2px solid;
    border-color:var(--straight-line-color);
  }
  @include e(line) {
    //cursor: pointer;
    background: var(--mark-bg-color);
  }
  @include e(wavy-line) {
    position:relative;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color:var(--wavy-line-color);
  }
  @include e(item) {
    display:inline-block;
    cursor: pointer;
  }
  @include e(dashed-line) {

  }
}
